#moviedetailbg
  .content
#moviedetail
  .content
    = link_to "X", "#", id: "detail-close"
    #detail-template

#container
  #mainContent
    #header
      %h1
        The Academy's Best Pictures of 2011
    #login
      = link_to "Login", "#", id: "fb-login"
      %p
        Which of these nominees deserve to win Best Picture at the Oscars this year? Click on the Facebook log in button to vote for your favorites.
    #subtitle
      %p
        Drag the movies around to make your selections.
    #selector
      %ol#selections
        %li#vote1
          .pedestal
          %h2 First Choice
          %p.instructions
            drag your favorite movie into this box, 3 points
        %li#vote2
          .pedestal
          %h2 Second Choice
          %p.instructions
            drag your second favorite movie into this box, 2 points
        %li#vote3
          .pedestal
          %h2 Third Choice
          %p.instructions
            drag your third favorite movie into this box, 1 point
      #choices
        .clearer
    #nav
      %h2
        The Results
      %ul
        %li
          = link_to "Refresh Results", "#", id: "results-refresh"
        %li.custom
          = link_to "View Only Watch-A-Thon Results", "#", id: "custom-results-toggle"
        %li.post
          = link_to "Post My Top Pick to Facebook", "#", id: "post-story"
    #results
      .graph
        .y-axis
          .notch
            100%
          .sub-notch
          .notch
            75%
          .sub-notch
          .notch
            50%
          .sub-notch
          .notch
            25%
          .sub-notch
          .notch
            0%
    #friend-nav
      %h2
        Your Friends
      %ul
        %li
          = link_to "See How Your Friends Voted", "#", id: "friends-refresh"
    #friend-results

    #footer
      %p
        This website has no affiliations with The Academy of Motion Picture Arts and Sciences or any other organization. It's just a fun way to see which movies a random sampling of people enjoyed the most this year. Votes on this site have no meaning and do not affect the outcome of the Academy Awards in any way. If you login with your Facebook account on this site we will save your name and your choices after you vote. Developed by
        = link_to "Stephen Dettling", "http://sdettling.com", target: "_blank"