!!! 5
%html
	%head
		%meta{content: "text/html;charset=UTF-8", "http-equiv" => "content-type"}
		= yield :metas
		%title Vote
		= stylesheet_link_tag "application"
		= yield :stylesheets
		= javascript_include_tag 'application'
		= yield :scripts

		%noscript
			.noscriptmsg
				Please be advised that your browser currently has JavaScript disabled. This site is designed to be used with JavaScript enabled. To ensure an optimal user experience, please enable JavaScript in your browser's settings, then
				= succeed "." do
					= link_to "click here", "#{request.url}"

		= csrf_meta_tag
	%body
		= content_for?(:content) ? yield(:content) : yield