!!! 5
%html
  %head
    %meta{content: "text/html;charset=UTF-8", "http-equiv" => "content-type"}
    = yield :metas
    %title Cinema Celebration - The Academy's Best Pictures of 2011
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    :javascript
      var _gaq = _gaq || [];
       _gaq.push(['_setAccount', 'UA-28270060-1']);
       _gaq.push(['_trackPageview']);
       (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

    %noscript
      .noscriptmsg
        Your browser currently has JavaScript disabled. This site doesn't work without it so please enable JavaScript in your browser's settings, then
        = succeed "." do
          = link_to "click here", "#{request.url}"

    = csrf_meta_tag
  %body
    #fb-root
    :javascript
      (function(d){
        var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        d.getElementsByTagName('head')[0].appendChild(js);
      }(document));
    = content_for?(:content) ? yield(:content) : yield